body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: white;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-left: auto;
    margin-right: auto;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

nav .nav-logo {
    width: 50px; /* Set width of logo */
    height: auto;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

form {
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.post {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}
